.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    /* background-color: goldenrod; */
    background-image: linear-gradient(to right, goldenrod, rgb(223, 192, 114));

    text-decoration: none;
    padding: 1px;
    height: 60px;
    padding-left: 5.5rem;

}

.navbar .navbar__link {
    color: whitesmoke;
    cursor: pointer;
    position: relative;
    margin: 0 1.4em;
    padding: 1em 1em;
    border-radius: .15rem;
    transition: all 1s;
    transition-delay: .5s;
}

.navbar .navbar__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: whitesmoke;
    opacity: 80%;
    transition: all .75s;
}

.navbar .navbar__link:hover {
    background-color: rgb(40,34,34);
    opacity: 80%;
    height: fit-content;
    color: goldenrod;
}

.navbar .navbar__link:hover::before {
    bottom: 52px;
    left: 0;
    background-color: goldenrod;
}




.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    padding: 1rem;
}

.navbar__logout {
    margin-left: auto;
}

.navbar__link {
    text-decoration: none;
    /* color: whitesmoke; */
    /* font-size:medium; */
    font-weight: bold;
    
}


/* link {
    color:aliceblue
} */